Package: com.wscios.telegrammenu
Name: Telegram Menu for Soccer Champs
Description: Adds a floating menu button to open WSC IOS Telegram channel
Maintainer: WSC IOS
Author: WSC IOS
Section: Tweaks
Depends: mobilesubstrate
Architecture: iphoneos-arm
Version: 1.0-1+debug
Installed-Size: 76
